In [49]:
import gmplot
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [155]:
dispatches = pd.read_csv('dispatches_data.csv')
electricians = pd.read_csv('electrician_data.csv')
bestthree = pd.read_csv('best_three.csv')

In [156]:
geolocator = Nominatim()
location = geolocator.geocode("patten university")
lat, lo = location.latitude, location.longitude

In [157]:
two = electricians[electricians['rating'] == 2]
three = electricians[electricians['rating'] == 3]
four = electricians[electricians['rating'] == 4]
five = electricians[electricians['rating'] == 5]

In [158]:
two_marker_lats = two['latitude']
two_marker_lngs = two['longitude']
three_marker_lats = three['latitude']
three_marker_lngs  = three['longitude']
four_marker_lats =four['latitude']
four_marker_lngs = four['longitude']
five_marker_lats = five['latitude']
five_marker_lngs = five['longitude']

In [159]:
e_marker_lats = electricians['latitude']
e_marker_lngs = electricians['longitude']
#e_center_lat = [np.mean(e_marker_lats)]
#e_center_long = [np.mean(e_marker_lngs)]

In [160]:
marker_lats = dispatches['latitude'][:1]
marker_lngs = dispatches['longitude'][:1]
#center_lat = [np.mean(marker_lats)]
#center_long = [np.mean(marker_lngs)]

In [161]:
gmap = gmplot.GoogleMapPlotter(np.mean(e_marker_lats),
                               np.mean(e_marker_lngs),
                               14)

#gmap.scatter(center_lat, center_long,
             #'green', size=100, marker=False)

gmap.scatter(marker_lats, marker_lngs, 'red', size=50, marker=False)

gmap.scatter(e_marker_lats, e_marker_lngs, 'blue', size=50, marker=False)


gmap.draw("blackblue.html")

In [162]:
gmap = gmplot.GoogleMapPlotter(np.mean(e_marker_lats),
                               np.mean(e_marker_lngs),
                               14)

gmap.scatter(marker_lats, marker_lngs, 'red', size=50, marker=False)

gmap.scatter(two_marker_lats, two_marker_lngs, 'blue', size=25, marker=False)

gmap.scatter(three_marker_lats, three_marker_lngs, 'blue', size=50, marker=False)

gmap.scatter(four_marker_lats, four_marker_lngs, 'blue', size=75, marker=False)

gmap.scatter(five_marker_lats, five_marker_lngs, 'blue', size=100, marker=False)

gmap.draw("stars.html")

In [163]:
bestthree.head()

   Unnamed: 0  latitude  longitude first_name last_name  rating available
0           0    37.802   -122.220     Laurie  Carrillo     5.0      True
1           1    37.802   -122.215    Anthony  Valencia     4.0      True
2           2    37.801   -122.218  Stephanie    Taylor     3.0      True

In [165]:
gmap = gmplot.GoogleMapPlotter(np.mean(e_marker_lats),
                               np.mean(e_marker_lngs),
                               14)

gmap.scatter(marker_lats, marker_lngs, 'red', size=50, marker=False)


gmap.scatter([37.801], [-122.218], 'blue', size=50, marker=False)

gmap.scatter([37.802], [-122.215], 'blue', size=75, marker=False)

gmap.scatter([37.802], [-122.220], 'blue', size=100, marker=False)


gmap.draw("best.html")

In [151]:
from geopy.distance import vincenty
a = (lat, lo)

for i,j in zip(f_marker_lats,f_marker_lngs):
    d = (i,j)
    print(vincenty(a, d).miles)

0.294391011355
0.386635766746
2.15009115128